<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- Load jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <!-- Load KaTeX -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.js"></script>
    {% include head-custom.html %}

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
          <a href="{{ site.github }} /models" class="btn btn-github"><span class="icon"></span>Models</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
  <footer>
     <!-- Parse the Latex divs with Katex-->
     <script type="text/javascript">
         $("script[type='math/tex']").replaceWith(
             function(){
                 var tex = $(this).text();
                 return katex.renderToString(tex, {displayMode: false});
         });

         $("script[type='math/tex; mode=display']").replaceWith(
             function(){
                 var tex = $(this).text();
                 return katex.renderToString(tex.replace(/%.*/g, ''), {displayMode: true});
         });
     </script>
    
    <div class="container">
      <section id="footer">
        <a href="https://www.isae-supaero.fr" class="btn"><span class="icon"></span>ISAE-SUPAERO</a>
      </section>
    </div>
 </footer>
</html>
